<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/custom/css/styles.css" />
</head>
<body>
    <header>
        <h1>Scraper Web Console</h1>
        <nav>
            <a href="/home">Home</a> &bull; 
            <a href="/shows">TV Shows</a> &bull; 
            <a href="/movies">Movies</a> &bull; 
            <a href="/settings">Settings</a>
        </nav>
    </header>
</body>
</html>