<html>
<head>
    <title>Movies</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
        </nav>
    </header>
    <table class="movies">
        <tr>
            <th>Title</th>
            <th>Year</th>
        </tr>
    {{#movies}}
        <tr>
            <td class="title">{{title}}</td>
            <td class="year">{{year}}</td>
        </tr>
    {{/movies}}
    </table>
</body>
</html>