<html>
<head>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
        </nav>
    </header>
    <h2>Global</h2>
    <table class="settings">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        {{#globalSettings}}
            <tr>
                <td class="property">{{property}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/globalSettings}}
    </table>
    
    <h2>Shows</h2>
    <table class="settings">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        {{#showsSettings}}
            <tr>
                <td class="property">{{property}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/showsSettings}}
    </table>
    
    <h2>Movies</h2>
    <table class="settings">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        {{#moviesSettings}}
            <tr>
                <td class="property">{{property}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/moviesSettings}}
    </table>
</body>
</html>