<html>
<head>
    <title>Settings</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
        </nav>
    </header>
{{#wrapper}}
    <h2>{{title}}</h2>
    <table class="settings">
        <tr>
            <th>Property</th>
            <th>Value</th>
        </tr>
        {{#settings}}
            <tr>
                <td class="property">{{property}}</td>
                <td class="value">{{value}}</td>
            </tr>
        {{/settings}}
    </table>
{{/wrapper}}
<script src="/assets/lib/js/jquery.js"></script>
</body>
</html>