<html>
<head>
    <title>Shows</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <table>
    <tr><th>ID</th><th>Title</th><th>Season</th><th>Episode</th></tr>
    {{#shows}}
        <tr>
        <td>{{id}}</td><td>{{title}}</td><td>{{season}}</td><td>{{episode}}</td>
        </tr>
    {{/shows}}
    </table>
</body>
</html>