<html>
<head>
    <title>Shows</title>
    <link rel="stylesheet" type="text/css" href="/assets/lib/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/styles.css" />
</head>
<body>
    <header>
        <nav>
            <a href="/home">Home</a>
        </nav>
    </header>
    <table class="shows">
        <tr>
            <th class="id">ID</th>
            <th class="title">Title</th>
            <th class="season">Season</th>
            <th class="episode">Episode</th>
            <th class="quality">Quality</th>
            <th class="runtime">Runtime</th>
        </tr>
    {{#shows}}
        <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>{{season}}</td>
            <td>{{episode}}</td>
            <td>{{quality}}</td>
            <td>{{runtime}} mins</td>
        </tr>
    {{/shows}}
    </table>
</body>
</html>